*{
      margin:0;
      padding:0;
}


 body{
      
      font-family: arial, Trebuchet, sans-serif;
      font-size:16px;
      color:#263555;
      background: url(../img/main-bg.jpg) 50% 0 no-repeat;

     

 }



.wrapper{
 
      width:1024px;
    
      margin-left:auto;
      margin-right:auto;

}




li{
     list-style:none;
  

}
nav a{
    color:white;
}
nav a:hover{
    color:black;
}

a{   
     text-decoration: none;
}

.border-corner a{
    color:black;
}

.border-corner a:hover{
     color:grey;
}

.flex-img{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}

.flex-img img{
  
  margin-top:20px;
}
main h2{
  margin-left:20px;
}
nav li{
      float:left;
      margin-left:40px;

      padding-left:10px;
      height:90px;
      width:90px;
      padding-top:10px;
      color:white;
}



.logo{
  
     position:relative;
 
     right:24px;
     bottom:70px;
}

nav{
  padding-top:60px;
  padding-bottom:100px;
}


.list li{
     clear:both;
     color:black;
     padding-top:10px;
  
     font-size:12px;
     position:relative;
     right:50px;
     bottom:5px;
     position:relative;
     z-index:2;
     text-align:center;
     height:25px;
     width:35px;
}



nav li:hover{
    color:black;
}

.list{
   opacity: 0;  
}

.main-list:hover .list{
   opacity: 1;  
} 

.border-corner {
      background: white;
      border-radius: 5px;
      border-top: 3px solid white;
      -moz-border-radius: 5px;
      position: absolute;
      padding: 10px;
      width: 60px;
      top: 50px;
      left:0px;
      line-height:1.5;


}
 
.border-corner:before {
      content: '';
      border: 6px solid transparent;
      border-bottom: 6px solid white;
      position: absolute;
      left: 58%;
      margin-left: -12px;
      top: -14px;
      width: 0;
}


.main-list{
  position:relative;
}

main{
    
    background:white; 
    padding:40px 40px 40px 40px;
}


.flex-img img:hover{
  opacity:0.5;
}




p{
      font-size:9px;
  
}


li{
    list-style-type: none;
}




.p-margin{
       margin-top:10px;
       margin-bottom:10px;
       margin-left:25px;
       padding-right:10px;
  }


.marg-col{
      margin-top:20px;
      margin-left:20px;
}









 .item-last h4{
    margin-left:30px;
 }
 .item-last p{
    margin-left:30px;
}


footer a{
  color:grey;
}
footer{
    display:flex;
   flex-direction:row;

    padding-bottom:50px;
    padding-top:50px;
    
    background-color:#0B2F3A;
    color:grey;
    font-stretch: ultra-condensed;
    padding-left:100px;
}



footer a:hover{
    color:white;
}

 footer li:hover{
  color:white;
 }

footer ul{
  flex:1;
}





.footer-small{
    background:none;
    color:white;
   
    padding-top:5px;

}



.icons a {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    
}

.icons a.twitter { 
     background: url(../img/social-icons/twitter.png) left top no-repeat;
     background-size:20px;
     margin-top:4px;
     filter:sepia(5);

     }
.icons a.facebook { 
     background: url(../img/social-icons/facebook.png) left top no-repeat;
     background-size:20px;
     margin-top:4px;
     margin-left:5px;
     filter:sepia(5);
      }
.icons a.linkedin { 
     background: url(../img/social-icons/linkedin.png) left top no-repeat;
     background-size:20px;
     margin-top:4px;
     margin-left:5px;
     filter:sepia(5);
       }
.icons a.google {
     background: url(../img/social-icons/google.png) left top no-repeat;
     background-size:20px;
     margin-top:4px;
     margin-left:5px;
     filter:sepia(5);
      }


 .icons{
    display:flex;
    margin-right:350px; 
   
   
    transform:translate(50%, 50%);
    
 
 }    

.icons li{
   background-color:white;
    border-radius: 100%;
    width:30px;
    height:30px;
    margin-left:10px;
    text-align:center;


}

.icons a:hover{
    filter:none;
    background-size:25px;


}
.signature{
  color:grey;
  text-align:center;
}

.home-buttom{
  position:fixed;
  margin-left:900px;
  margin-bottom:600px;
}
.but-home{
    position:absolute;
    content:'>';    
    color:white;   
    border-radius: 100px;
    background-color: #5ecaf2;
    width:30px;
    height:30px;
    text-align:center;
    bottom:430px;
    line-height:2;

}
